## Primary feature extraction settings                                          # -------------------------------------
uasr.pfa                = "LCQ";                                                 # Primary feature analysis type      1)
uasr.pfa.dim            = 24;                                                   # Dim. of primary feature vector

uasr.pfa.LCQ.type       = "LogFFT";




uasr.pfa.LCQ.warptype   = "spectrum";
uasr.pfa.LCQ.pfa_lambda  = 0.47;
uasr.pfa.LCQ.syn_lambda  = 0.0;


uasr.pfa.synoptions     = "";
